.landingPage {
  .banner {
    height: 40vh;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .blogList {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 5%;
    gap: 3rem;

    div {
      display: flex;
      flex-direction: column;

      align-items: center;

      img {
        width: 100%;
      }
      h2 {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        color: white;
        padding: 1rem;
        text-align: center;
      }
    }
  }
}
